{% extends 'base.html.twig' %}

{% block title %}My Cart
{% endblock %}

{% block content %}

	<div class="ogami-breadcrumb">
		<div class="container">
			<ul>
				<li><a class="breadcrumb-link"href="{{ path('home') }}"><i class="fas fa-home"></i>Home</a></li>
				<li><a class="breadcrumb-link"href="{{ path('products') }}">Shop</a></li>
				<li><a class="breadcrumb-link active" href="#">Shoping cart</a></li>
			</ul>
		</div>
	</div>
	<!-- End breadcrumb-->
	{% if cart|length >0 %}
		<div class="order-step">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="order-step_block">
							<div class="row no-gutters">
								<div class="col-12 col-md-4">
									<div class="step-block active">
										<div class="step">
											<h2>Shopping Cart</h2>
											<span>01</span>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="step-block">
										<div class="step">
											<h2>Check Out</h2>
											<span>02</span>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="step-block">
										<div class="step">
											<h2>Order Completed</h2>
											<span>03</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End order step-->
		<div class="shopping-cart">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="product-table">
							<table class="table table-responsive">
								<colgroup>
									<col span="1" style="width: 15%">
									<col span="1" style="width: 30%">
									<col span="1" style="width: 15%">
									<col span="1" style="width: 15%">
									<col span="1" style="width: 15%">
									<col span="1" style="width: 10%">
								</colgroup>
								<thead>
									<tr>


										<th class="product-iamge" scope="col">Image</th>
										<th class="product-name" scope="col">Name</th>
										<th class="product-price" scope="col">Price</th>
										<th class="product-quantity" scope="col">Quantity</th>
										<th class="product-total" scope="col">Total</th>
										<th class="product-clear" scope="col">
											<button class="no-round-btn"><img src="{{asset('assets/images/trash.png')}}" height="25px" alt="delete">
											</button>
										</th>

									</tr>
								</thead>
								<tbody>
									{% set total=null %}
									{% for product in cart %}
										<tr>
											<td class="product-iamge">
												<div class="img-wrapper">
													<img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" class="img-fluid">
												</div>
											</td>
											<td class="product-name">{{ product.product.name }}</td>
											<td class="product-price" data-product-id="{{ product.product.id }}">{{ (product.product.price/100)|number_format(2) }}
												$</td>
											<td class="product-quantity">
												<button class="btn btn-secondary" onclick="decrementProduct({{ product.product.id }})">
													<img src="{{ asset('assets/images/minus.png') }}" alt="moins" height="11px">
												</button>
												<input class="quantity no-round-input" data-product-id="{{ product.product.id }}" min="1" value="{{ product.quantity }}">
												<button class="btn btn-secondary" onclick="incrementProduct({{ product.product.id }})">
													<img src="{{ asset('assets/images/add.png') }}" alt="plus" height="11px">
												</button>
											</td>
											<td class="product-total cart-total" data-product-id="{{ product.product.id }}">{{ ((product.product.price*product.quantity)/100)|number_format(2) }}
												$</td>

											<td class="product-clear">
												<a class="remove-from-cart" href="#" data-id="{{ product.product.id }}">
													<button class="btn btn-outline-danger">
														<img src="{{asset('assets/images/trash.png')}}" alt="supprimer" height="25px">
													</button>
												</a>

											</td>


										</tr>
										{% set total=total+(product.product.price*product.quantity) %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-12 col-sm-8">
						<div class="coupon">
							<form action="" method="post">
								<input class="no-round-input" type="text" placeholder="Coupon code">
								<button class="no-round-btn smooth">Apply coupon</button>
							</form>
						</div>
					</div>
					<div class="col-12 col-sm-4 text-right">
						<button class="no-round-btn black cart-update">Upadate cart</button>
					</div>
				</div>
				<div class="row justify-content-end">
					<div class="col-12 col-md-6 col-lg-4">
						<div class="cart-total_block">
							<h2>Cart total</h2>
							<table class="table">
								<colgroup>
									<col span="1" style="width: 50%">
									<col span="1" style="width: 50%">
								</colgroup>
								<tbody>
									<tr>
										<th>SUBTOTAL</th>
										<td class="subtotal-cell" >{{ cart |length }}</td>
									</tr>
									<tr>
										<th>SHIPPING</th>
										<td>
											<p>Free shipping</p>
											<p>Calculate shipping</p>
										</td>
									</tr>
									<tr>
										<th>TOTAL</th>
										<td class="cart-total-cell">
											{{ (total/100)|number_format(2) }}</td>
									</tr>
								</tbody>
							</table>
							<div class="checkout-method">
								<a href="{{ path('order')}}">
									<button class="normal-btn">Proceed to Checkout</button>
								</a>
								<span>- or -</span>
								<a href="shop_checkout.html">Check out with PayPal</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="text-center">
			<h3 class="alert-info">Your Cart is empty
			</h3>
		</div>

	{% endif %}
	{# <script type="text/javascript">
	
	function removeProduct(event) {
	  event.preventDefault();
	  const productId = event.target.closest(".remove-from-cart").dataset.id;
	  fetch(`/my-cart/cart/delete/${productId}`, { method: "GET" })
	    .then((response) => {
	      if (response.ok) {
	        // Supprimer le produit du DOM
	        const row = event.target.closest("tr");
	        row.parentNode.removeChild(row);
	
	        // Mettre à jour la notification
	        updateNotification(-1);
	
	        // Mettre à jour le total du panier
	        updateCartTotal();
	      }
	    })
	    .catch((error) => {
	      console.error("Erreur lors de la suppression du produit :", error);
	    });
	}
	
	function updateNotification(change) {
	  const cartQuantity = document.querySelector(".cart-quantity");
	  const currentCount = parseInt(cartQuantity.textContent, 10);
	  cartQuantity.textContent = currentCount + change;
	}
	</script> #}
{% endblock %}
