{% extends 'base.html.twig' %}

{% block title %}Folio Shop{% endblock %}

{% block container %}
<div class="container">
    <div class="ogami-breadcrumb">
        <div class="container">
            <ul>
                <li><a class="breadcrumb-link" href="{{ path('home') }}"><i class="fas fa-home"></i>Home</a></li>
                <li><a class="breadcrumb-link active" href="#">Mes Adresses </a></li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb-->
    <h1 class="mb-4">Gérer mes adresses</h1>
    <a href="{{ path('account') }}" class="btn btn-secondary mb-3">Retour</a>
    <hr>
    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col-md-12 mb-3 text-center">
            {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control custom-inputN mb-3'}}) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.firstname, {'attr': {'class': 'form-control custom-input mb-3'}}) }}
            {{ form_row(form.lastname, {'attr': {'class': 'form-control custom-input mb-3'}}) }}
            {{ form_row(form.address, {'attr': {'class': 'form-control custom-input mb-3'}}) }}
            {{ form_row(form.postal, {'attr': {'class': 'form-control custom-input mb-3'}}) }}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            {{ form_row(form.company, {'attr': {'class': 'form-control custom-input mb-3'}}) }}
            {{ form_row(form.city, {'attr': {'class': 'form-control custom-input mb-3'}}) }}
            {{ form_row(form.country, {'attr': {'class': 'form-control custom-input mb-3'}}) }}
            {{ form_row(form.phone, {'attr': {'class': 'form-control custom-input mb-3'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>



{% endblock %}
