{% extends 'base.html.twig' %}

{% block title %}Folio Shop{% endblock %}

{% block container %}
    <a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm float-right">Ajouter une Adresse </a>
    <h1>Mes Adresses</h1>
    <a href ="{{ path('account_address') }}">Retour</a>
    <hr>
{% if app.user.addresses | length == 0 %}
    <p class="text-center">
        vous n'avez pas encore ajouté d'adresse dans votr compte clientpour ajouter une veuillez<a href="">cliquer ici </a>
    </p>
    {% else %}
       <div class="row">
           {% for address in app.user.addresses %}
               <div class="col-md-4">
                   <div class="card" style="width: 18rem;">
                       <div class="card-body">
                           <h5 class="card-title">{{ address.name }}</h5>
                           <p class="card-text">
                               {{ address.address }},<br/>
                               {{ address.postal }} - {{ address.city }} - {{ address.country }}
                           </p>
                           <a href="{{path('account_address_edit',{'id':address.id }) }}">Modifier</a> <a href="{{path('account_address_delete', {'id': address.id})}}">supprimer</a>
                       </div>
                   </div>
               </div>
           {% endfor %}


       </div>
    {% endif %}

{% endblock %}
