
{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="ogami-breadcrumb">
    <div class="container">
      <ul>
        <li><a class="breadcrumb-link" href="{{ path('home') }}"><i class="fas fa-home"></i>Home</a></li>
        <li><a class="breadcrumb-link active" href="#">Login</a></li>
      </ul>
    </div>
  </div>

  <div class="account">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mx-auto">
          <h1 class="title">Login</h1>
          <form method="post">
           {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="no-round-input" required autofocus>
            <br>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="no-round-input" required>
             <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="account-method">
              <div class="account-save">
                <input id="savepass" type="checkbox">
                <label for="savepass">Save Password</label>
              </div>
              <div class="account-forgot"><a href="#">Forget your Password</a></div>
            </div>
            <div class="account-function">
              <button class="no-round-btn">Login</button>
              <a class="create-account" href="{{ path('register') }}">Or create an account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

