{% extends 'base.html.twig' %}

{% block title %}Demander une réinitialisation de mot de passe
{% endblock %}

{% block content %}


	<div class="ogami-breadcrumb">
		<div class="container">
			<ul>
				<li><a class="breadcrumb-link"href="{{ path('home') }}"><i class="fas fa-home"></i>Home</a></li>
				<li><a class="breadcrumb-link active" href="#">Réinitialiser le mot de passe</a></li>
			</ul>
		</div>
	</div>
	<!-- End breadcrumb-->


	<div class="container">


		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		<div id="error-message" class="alert alert-danger" style="display:none;"></div>
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3>
								<i class="fa fa-lock fa-3x"></i>
							</h3>
							<h2 class="text-center">Mot de passe oublié ?</h2>
							<br>
							<p class="mt-3">Vous pouvez réinitialiser votre mot de passe ici.</p>
							<br>
							<div class="panel-body">
								<form id="reset-password-form" method="post" action="{{ path('app_request_reset_password') }}">
									<fieldset>
										<div class="form-group">
											<div class="input-group">
												{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'exemple@gmail.com', 'style': 'width: 200px; height: 40px;'}}) }}
											</div>
										</div>


										<div class="form-group">
											<button class=" no-round-btn btn-block" type="submit">Réinitialiser le mot de passe</button>
										</div>
									</fieldset>
									{{ form_end(form) }}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
const resetPasswordForm = document.getElementById('reset-password-form');
const errorMessage = document.getElementById('error-message');

resetPasswordForm.addEventListener('submit', function (event) {
event.preventDefault();

const formData = new FormData(resetPasswordForm);
const xhr = new XMLHttpRequest();

xhr.open('POST', resetPasswordForm.getAttribute('action'), true);
xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
xhr.onreadystatechange = function () {
if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
const response = JSON.parse(xhr.responseText);

if (response.success) {
window.location.href = response.redirectUrl;
} else {
errorMessage.textContent = response.message;
errorMessage.style.display = 'block';
}
}
};
xhr.send(formData);
});
});
	</script>

{% endblock %}
