{% extends 'base.html.twig' %}
{% block content %}
	<!DOCTYPE html>
	<html lang="en">
		<body>
			<div id="main">
				<div class="ogami-breadcrumb">
					<div class="container">
						<ul>
							<li><a class="breadcrumb-link"href="{{path('home')}}"><i class="fas fa-home"></i>Home</a></li>
						</ul>
					</div>
				</div>
				<!-- End breadcrumb-->
				<div class="shop-layout">
					<div class="container">
						<div class="row">
							<div class="col-xl-3">
								<div class="shop-sidebar">
									<button class="no-round-btn" id="filter-sidebar--closebtn">Close sidebar</button>
									<div class="shop-sidebar_department">
										<div class="department_top mini-tab-title underline">
											<h2 class="title">Departments</h2>
										</div>
										<div class="department_bottom">
											<ul>
												{% for categorie in cat.getCategories %}

													<li>
														<a class="department-link" href="{{path('product_category',{'id':categorie.id,'userId': user ? user.id : ''})}} ">{{ categorie.name }}</a>
													</li>

												{% endfor %}

											</ul>
										</div>
									</div>
									{{ form_start(search) }}
									<div class="shop-sidebar_price-filter">
										<div class="price-filter_top mini-tab-title underline">
											<h2 class="title">Filter By Price</h2>
										</div>
										<div class="price-filter_bottom">
											<p>
												<label for="amount">Price range:</label>
												<div class="filter-group">
													{{ form_row(search.minprice) }}
													{{ form_row(search.maxprice) }}
													<button type="submit" class="normal-btn">Filter</button>
													{# Utilisez cette ligne pour afficher le bouton de soumission #}
												</div>
											</p>
											<div id="slider-range"></div>
										</div>
									</div>
									{{ form_end(search) }}
								{# <div class="shop-sidebar_color-filter">
																																																										<div class="color-filter_top mini-tab-title underline">
																																																											<h2 class="title">Color</h2>
																																																										</div>
																																																										<div class="color-filter_bottom">
																																																											<div class="row">
																																																												<div class="col-6">
																																																													<div class="color">
																																																														<div class="visible-color" style="background-color: black;"></div>
																																																														<a href="shop_grid+list_3col.html">Black (12)</a>
																																																													</div>
																																																													<div class="color">
																																																														<div class="visible-color" style="background-color: red;"></div>
																																																														<a href="shop_grid+list_3col.html">Red (4)</a>
																																																													</div>
																																																													<div class="color">
																																																														<div class="visible-color" style="background-color: orange;"></div>
																																																														<a href="shop_grid+list_3col.html">Orange (8)</a>
																																																													</div>
																																																												</div>
																																																												<div class="col-6">
																																																													<div class="color">
																																																														<div class="visible-color" style="background-color: blue;"></div>
																																																														<a href="shop_grid+list_3col.html">Blue (4)</a>
																																																													</div>
																																																													<div class="color">
																																																														<div class="visible-color" style="background-color: green;"></div>
																																																														<a href="shop_grid+list_3col.html">Green (9)</a>
																																																													</div>
																																																													<div class="color">
																																																														<div class="visible-color" style="background-color: pink;"></div>
																																																														<a href="shop_grid+list_3col.html">Pink (12)</a>
																																																													</div>
																																																												</div>
																																																											</div>
																																																										</div>
																																																									</div> #}
									{# <div class="shop-sidebar_size">
																																																																<div class="size_top mini-tab-title underline">
																																																																	<h2 class="title">Popular size</h2>
																																																																</div>
																																																																<div class="size_bottom">
																																																																	<form>
																																																																		<div class="size">
																																																																			<input type="checkbox" id="large">
																																																																			<label for="large">Large</label>
																																																																		</div>
																																																																		<div class="size">
																																																																			<input type="checkbox" id="medium">
																																																																			<label for="medium">Medium</label>
																																																																		</div>
																																																																		<div class="size">
																																																																			<input type="checkbox" id="small">
																																																																			<label for="small">Small</label>
																																																																		</div>
																																																																		<div class="size">
																																																																			<input type="checkbox" id="tiny">
																																																																			<label for="tiny">Tiny</label>
																																																																		</div>
																																																																	</form>
																																																																</div>
																																																															</div> #}
									{# <div class="shop-sidebar_tag">
																																																																<div class="tag_top mini-tab-title underline">
																																																																	<h2 class="title">Product tag</h2>
																																																																</div>
																																																																<div class="tag_bottom">
																																																																	<a class="tag-btn" href="shop_grid+list_3col.html">organic</a>
																																																																	<a class="tag-btn" href="shop_grid+list_3col.html">vegatable</a>
																																																																	<a class="tag-btn" href="shop_grid+list_3col.html">fruits</a>
																																																																	<a class="tag-btn" href="shop_grid+list_3col.html">fresh meat</a>
																																																																	<a class="tag-btn" href="shop_grid+list_3col.html">fastfood</a>
																																																																	<a class="tag-btn" href="shop_grid+list_3col.html">natural</a>
																																																																</div>
																																																															</div> #}
								</div>
								<div class="filter-sidebar--background" style="display: none"></div>
							</div>
							<div class="col-xl-9">
								<div class="shop-grid-list">
									<div class="shop-products">
										<div class="shop-products_top mini-tab-title underline">
											<div class="row align-items-center">
												<div class="col-6 col-xl-4">
													<h2 class="title">Shop Foryoumer</h2>
												</div>
												<div class="col-6 text-right">
													<div id="show-filter-sidebar">
														<h5>
															<i class="fas fa-bars"></i>Show sidebar</h5>
													</div>
												</div>
												<div class="col-12 col-xl-8">
													<div class="product-option">
														<div class="product-filter">{# 	<select class="select-form" id="sort" name="">
																																																																																																										<option value="A-Z">A to Z</option>
																																																																																																										<option value="Z-A">Z to A</option>
																																																																																																										<option value="High to low price">High to low price</option>
																																																																																																										<option value="Low to height price">Low to height</option>
																																																																																																									</select> #}
															{# <select class="select-form" id="sort" name="">
																																																																																																										<option value="A-Z">Show 10</option>
																																																																																																										<option value="Z-A">Show 20</option>
																																																																																																										<option value="High to low price">Show 30</option>
																																																																																																									</select> #}
														</div>
														<div class="view-method">
															<p class="active" id="grid-view">
																<i class="fas fa-th-large"></i>
															</p>
															<p id="list-view">
																<i class="fas fa-list"></i>
															</p>
														</div>
													</div>
												</div>
											</div>
											<!--Using column-->
										</div>
										<div class="shop-products_bottom">
											<div class="row no-gutters-sm">
											
												{% for product in products %}

													<div class="col-6 col-md-4">
														<div class="product" id="product-{{ loop.index }}">
															<div class="product-img_block">
																<a class="product-img" href="{{ path('product',{'slug':product.slug}) }}"><img src="/uploads/{{ product.illustration|replace({'.jpg': '.webp'}) }}" alt="{{ product.name }}"></a>
															</div>
															<div class="product-info_block">
																<h5 class="product-type">{{ product.category.name }}</h5>
																<a class="product-name" href="{{ path('product',{'slug':product.slug}) }}">
																	{% if product.name|length > 10 %}
																		<h3 class="product-name">{{ product.name|slice(0, 10) }}...</h3>
																	{% else %}
																		<h3 class="product-name">{{ product.name }}</h3>
																	{% endif %}
																</a>
																<h3 class="product-price">{{ (product.price/100)|number_format(2) }}
																	<del>{{(product.oldPrice/100)|number_format(2)}}</del>
																</h3>
																<h5 class="product-rated">
																	<i class="icon_star"></i>
																	<i class="icon_star"></i>
																	<i class="icon_star"></i>
																	<i class="icon_star"></i>
																	<i class="icon_star-half"></i>
																	<span>(5)</span>
																</h5>
																
																<p class="product-describe" data-full-description="{{product.description}}">{{product.description|slice(0, 50)}}...</p>
            													<a class="product-describe toggleButton" href="javascript:void(0)" onclick="toggleDescription({{ loop.index }})">Afficher la suite</a>
																{# <h5 class="product-avaiable">Avability: <span>{{ product.quantity }}</span></h5> #}
																<button class="add-to-wishlist button-borderless">
																	<i class="icon_heart_alt"></i>
																</button>
															</div>
															<div class="product-select">
																<button class="add-to-wishlist round-icon-btn">
																	<i class="icon_heart_alt"></i>
																</button>
																<button class="add-to-cart round-icon-btn">
																	<i class="icon_bag_alt"></i>
																</button>
																<button class="add-to-compare round-icon-btn">
																	<i class="fas fa-random"></i>
																</button>
																<button class="quickview round-icon-btn">
																	<i class="far fa-eye"></i>
																</button>
															</div>
															<div
																class="product-select_list">
																{# <p class="delivery-status">Free delivery</p> #}
																<h3 class="product-price">
																	<del>{{(product.oldPrice/100)|number_format(2)}}</del>
																	{{ (product.price/100)|number_format(2) }}
																</h3>
																<a href="{{ path('cart_add_to_cart',{'slug':product.slug}) }}">
																	<button class="add-to-cart normal-btn outline">Add to Cart</button>
																</a>
																{# <button class="add-to-compare normal-btn outline">+ Add to Compare</button> #}
															</div>
														</div>
													</div>
												{% endfor %}

											</div>

<style>
    .product-describe {
        display: inline;
    }
    .toggleButton {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
</style>

<script>
    function toggleDescription(id) {
        const descriptionElement = document.querySelector('#product-' + id + ' .product-describe');
        const fullDescription = descriptionElement.getAttribute('data-full-description');
        const shortDescription = fullDescription.substring(0, 50) + '...';
        const showMoreText = "Afficher la suite";
        const showLessText = "Réduire";

        const toggleButton = document.querySelector('#product-' + id + ' .toggleButton');

        if (descriptionElement.innerHTML === fullDescription) {
            descriptionElement.innerHTML = shortDescription;
            toggleButton.innerHTML = showMoreText;
        } else {
            descriptionElement.innerHTML = fullDescription;
            toggleButton.innerHTML = showLessText;
        }
    }
</script>

											{% if user is defined %}
											{% if products.pageCount > 1 %}
												<div class="shop-pagination" id="pagination-container">
													{{ knp_pagination_render(products) }}
												</div>
											{% endif %}
											{% endif %}
										</div>
										

										<script>
										
										</script>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End shop layout-->
			</div>
		</body>
	</html>
{% endblock %}
