{% extends 'base.html.twig' %}

{% block seo %}
    {{ parent() }}
{% endblock %}
{% block title %}My Product
{% endblock %}


{% block content %}
	<div class="ogami-breadcrumb">
		<div class="ogami-container-fluid">
			<ul>
				<li><a class="breadcrumb-link"href="{{path('home')}}"><i class="fas fa-home"></i>Home</a></li>
				<li><a class="breadcrumb-link active"href="{{path('products')}}">Shop</a></li>
			</ul>
		</div>
	</div>
	<!-- End breadcrumb-->
	
	<div class="shop-layout">
		<div class="ogami-container-fluid">
			<div class="row">
				<div class="col-xl-3 col-xxl-3 col-xxxl-2">
					<div class="shop-sidebar">
						<button class="no-round-btn" id="filter-sidebar--closebtn">Close sidebar</button>
						<div class="shop-sidebar_department">
							<div class="department_top mini-tab-title underline">
								<h2 class="title">Departments</h2>
							</div>
							<div class="department_bottom">
								<ul>
									{% for categorie in cat.getCategories %}
										<li></li>
										<li>
											<a class="department-link" href="{{path('product_category',{'id':categorie.id,'userId': user ? user.id : ''})}} ">{{ categorie.name }}</a>
										</li>
									</li>
								{% endfor %}


							</ul>
						</div>
						{{ form_start(search) }}

						<div class="shop-sidebar_price-filter">
							<div class="price-filter_top mini-tab-title underline">
								<h2 class="title">Filter By Price
								</h2>
							</div>
							<div class="price-filter_bottom">
								<p>
									<label for="amount">Price range:</label>
									<div class="filter-group">
										{{form_row(search.minprice)}}{{form_row(search.maxprice)}}


										<button class="normal-btn">Fiter</button>
									</div>
								</p>
								<div id="slider-range"></div>
							</div>
						</div>
						{{ form_end(search) }}
					</div>
					<div class="filter-sidebar--background" style="display: none"></div>
				</div>
			</div>
			<div class="col-xl-9 col-xxl-9 col-xxxl-10">
				<div class="shop-grid-list">
					<div class="shop-products">
						<div class="shop-products_top mini-tab-title underline">
							<div class="row align-items-center">
								<div class="col-6 col-xl-4">
									<h2 class="title">Shop Grid 03 Col</h2>
								</div>
								<div class="col-6 text-right">
									<div id="show-filter-sidebar">
										<h5>
											<i class="fas fa-bars"></i>Show sidebar</h5>
									</div>
								</div>
								<div class="col-12 col-xl-8">
									<div class="product-option">
										{# <div class="product-filter">
											<select class="select-form" id="sort" name="">
												<option value="A-Z">A to Z</option>
												<option value="Z-A">Z to A</option>
												<option value="High to low price">High to low price</option>
												<option value="Low to height price">Low to height</option>
											</select>
											<select class="select-form" id="sort" name="">
												<option value="A-Z">Show 10</option>
												<option value="Z-A">Show 20</option>
												<option value="High to low price">Show 30</option>
											</select>
										</div> #}
										<div class="view-method">
											<p class="active" id="grid-view">
												<i class="fas fa-th-large"></i>
											</p>
											<p id="list-view">
												<i class="fas fa-list"></i>
											</p>
										</div>
									</div>
								</div>
							</div>
							<!--Using column-->
						</div>
						{# {{ products.getTotalItemCount }}
						Produit(s) #}
						<div class="shop-products_bottom--fullwidth">
							<div class="row no-gutters-sm">


								{% for product in products  %}
									<div class="col-6 col-md-3">
										<div class="product pink">
											<a class="product-img" href="{{ path('product',{'slug':product.slug}) }}"><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}"></a>
											<h5 class="product-type">{{product.category.name}}</h5>
											{% if product.name|length > 10 %}
												<h3 class="product-name">{{ product.name|slice(0, 10) }}...</h3>
											{% else %}
												<h3 class="product-name">{{ product.name }}</h3>
											{% endif %}
											<h3 class="product-price">{{ (product.price/100)|number_format(2) }}
												<del>{{ (product.oldPrice/100)|number_format(2) }}$</del>
											</h3>
											<div class="product-select">
												<button class="add-to-wishlist round-icon-btn pink">
													<i class="icon_heart_alt"></i>
												</button>
												<button class="add-to-cart round-icon-btn pink">
													<i class="icon_bag_alt"></i>
												</button>
												<button class="add-to-compare round-icon-btn pink">
													<i class="fas fa-random"></i>
												</button>
												<button class="quickview round-icon-btn pink">
													<i class="far fa-eye"></i>
												</button>
											</div>
										</div>
									</div>
								{% endfor %}


							</div>
							{% if products.pageCount > 1 %}
								<div class="shop-pagination">
									<button class="no-round-btn smooth active">
										{{ knp_pagination_render(products) }}
									</button>
								</div>
							{% endif %}

						</div>
					</div>
					{% if user %}
						<div class="recentview-product">
							<div class="recentview-product_top mini-tab-title underline">
								<h2 class="title">Recently Viewed Products</h2>
							</div>
							<div class="recentview-product_bottom">
								<div class="row">
									{% if recentlyViewedProducts %}
										{% for product in recentlyViewedProducts|slice(0, 4) %}

											<div class="col-12 col-sm-6 col-lg-4 col-lg-3 col-xxl-3">
												<div class="mini-product border">
													<div class="mini-product_img">
														<a class="product-img" href="{{ path('product',{'slug':product.slug}) }}">
															<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
														</a>
													</div>
													<div class="mini-product_info">
														<a href="{{ path('product',{'slug':product.slug}) }}">{{ product.name|slice(0, 10) }}...</a>
														<p>{{ product.price/100|number_format(2) }}
															<del>$45.00</del>
														</p>
													</div>

												</div>
											</div>
										{% endfor %}
									{% else %}
										<p>Aucun produit récemment consulté.</p>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
				</div>
				
			</div>
		</div>
	</div>

<div class="container-fluid bg-light mt-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        {% set categoryName = products[0].category.name %}
		{% set categoryDescription = products[0].category.description %}
        <div class="card-header">
          <h5 class="card-title">{{ categoryName }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Bienvenue dans la catégorie {{ categoryName }}. Ici, vous trouverez une sélection des meilleurs produits pour répondre à vos besoins. {{categoryDescription}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

.card-header h7.card-title {
  font-size: 0.5rem; /* taille de la police */
  font-weight: 600; /* épaisseur de la police */
  text-transform: uppercase; /* mise en majuscule du texte */
  color: #333; /* couleur du texte */
  margin-bottom: 1.5rem; /* espacement entre le titre et le texte */
}

.card-body p.card-text {
  font-size: 1.125rem; /* taille de la police */
  line-height: 1.8; /* espacement entre les lignes */
  color: #666; /* couleur du texte */
}


</style>

{% endblock %}