<!DOCTYPE html>
<html lang="en">
<head>
		<title>Vente en ligne en Tunisie
		</title>
		<meta charset="UTF-8">
		<meta name="google-site-verification" content="NcMDVxMcuILOFYdEdjV4rnQ7xngn52ddBq0nkzkG1ZA"/>
		<meta name="description" content="Découvrez notre large sélection de produits en ligne en Tunisie. Commandez en toute sécurité et profitez de la livraison rapide. Trouvez tout ce dont vous avez besoin, des vêtements aux produits électroniques, en passant par les articles de maison et les produits de beauté. Faites vos achats en ligne dès maintenant sur notre site de vente en ligne de confiance en Tunisie">
		<meta name="keywords" content="vente en ligne chez foryoumer.com, vente de produits en Tunisie, livraison en Tunisie, livraison rapide, site commerce en ligne, montres en Tunisie ,vente produits de beauté en Tunisie, Vente vetements Homme en Tunisie">
		<meta name="author" content="MARTECH | Deer Creative Theme">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="preload" href="{{ asset('assets/css/style.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/custom_bootstrap.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/normalize.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/fontawesome.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/elegant.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/animate.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/slick.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/scroll.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/icomoon.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/jquery.fancybox.min.css') }}" as="style">
		<link rel="preload" href="{{ asset('assets/css/mystore.css') }}" as="style">

		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/custom_bootstrap.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/elegant.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/scroll.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/icomoon.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/jquery.fancybox.min.css') }}" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ asset('assets/css/mystore.css') }}" onload="this.onload=null;this.rel='stylesheet'">

		<noscript>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/custom_bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/elegant.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/scroll.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/icomoon.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery.fancybox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/mystore.css') }}">
    	</noscript>
		<script src="{{ asset('assets/js/jquery-3.6.4.js') }}" ></script>
		<link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}">
		


	</head>
		<body>


			<div id="notification" class="notification" style="display: none; position: fixed; top: 10px; right: 10px; background-color: #4CAF50; color: white; padding: 10px; border-radius: 5px;">
				Produit ajouté au panier!
			</div>

			<div id="main">

				<header class="pink">
					<div class="topimg">
						<a href="{{path('home')}}"><img src="{{ asset('assets/images/homepage03/as7.webp') }}" id="mk" alt=""/></a>
					</div>
					<div class="header-block d-flex align-items-center">
						<div class="container">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="header-left d-flex flex-column flex-md-row align-items-center">
										<p class="d-flex align-items-center">
											<i class="fas fa-envelope"></i>
											meher@foryoumer.com
										</p>
										<p class="d-flex align-items-center">
											<i class="fas fa-phone"></i>
											+216 58 58 83 58
										</p>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="header-right d-flex flex-column flex-md-row justify-content-md-end justify-content-center align-items-center">
										<div class="social-link d-flex">
											<a href="{{ path('cart_index') }}">
												<img src="{{ asset('assets/images/panier.png') }}" height="30px" alt="Panier"/>
												{% set cart_quantity = app.session.get('uniqueProductsCount') %}
												{% if cart_quantity is not empty and cart_quantity != 0 %}
													<span class="cart-quantity"/>{{ cart_quantity }}
												</span>
											{% endif %}
										</a>
									</div>
									{% if app.user %}
										<div class="login d-flex">
											<a href="{{ path('account') }}">
												<i class="fas fa-user ">

													{{ app.user.firstname }}
												</i>
												Account
											</a>
										</div>

										<div class="login d-flex">
											<a href="{{ path('app_logout') }}">
												<i class="fas fa-user"></i>
												Logout
											</a>
										</div>
									{% else %}
										<div class="login d-flex">
											<a href="{{ path('app_login') }}"/>
											<i class="fas fa-user"></i>
											Login
										</a>
									</div>

									<div class="login d-flex">
										<a href="{{ path('register') }}"/>
										<i class="fas fa-user"></i>
										Register
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>
</div>
{% include "header_mobile.html.twig" %}<div class="navigation-filter">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 col-lg-4 col-xl-3 order-2 order-md-1"></div>
			<div class="col-12 col-md-8 col-lg-8 col-xl-9 order-1 order-md-2">
				<div class="row">
					<div class="col-12 col-xl-8">
						<div class="website-search">
							<div class="row no-gutters">
								<div class="col-0 col-md-0 col-lg-4 col-xl-4">
									<div class="filter-search">
										<div class="categories-select d-flex align-items-center justify-content-around">
											<span>
												All Categories
											</span>
											<i class="arrow_carrot-down"></i>
										</div>
										<div class="categories-select_box">
											<ul>
												{% for categorie in cat.getCategories %}
													<li>
														<a href=" {{path('product_category',{'id':categorie.id})}} ">
															<i class="cate-name"></i>
															{{ categorie.name }}</a>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
								<form action="{{ path('search') }}" method="GET" class="row no-gutters">
									<div class="col-12 col-md-12 col-lg-8 col-xl-8">
										<div class="search-input">
											<input class="no-round-input no-border" type="text" name="q" placeholder="What do you need" style="width: 100%;">
										</div>
									</div>
									<div class="col-12 col-md-12 col-lg-4 col-xl-4 d-flex justify-content-end">
										<button type="submit" class="no-round-btn black" style="width: 50px; height: 50px;">
											<i class="icon_search"></i>
										</button>
									</div>
								</form>

							</div>
						</div>
					</div>
					<div class="col-0 col-xl-4">
						<div class="phone-number">
							<div class="phone-number_icon">
								<i class="icon_phone"></i>
							</div>
							<h2>
								+216 58 58 83 43
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- End header-->{% block container %}{% endblock %}<!-- End banner v2--><div class="home3-product-block"> {% block content %}{% endblock %}
	<div class="newletter"></div>
</br><hr><div class="partner">
	<div class="container">
		<div class="partner_block d-flex justify-content-between" data-slick="{&quot;slidesToShow&quot;: 6}">
			{% for product in global_products.findAll() %}
				<div class="partner--logo">
					<a href="{{ path('product', {'slug': product.slug}) }}"><img src="/uploads/{{ product.illustration|replace({'.jpg': '.webp'}) }}" alt="{{ product.name }}" loading="lazy"></a>
				</div>
			{% endfor %}


		</div>
	</div>
</div>
<footer class="pink">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 text-sm-center text-md-left">
				<div class="footer-contact">
					<p>
						Address: 123 cite ikbel 7032 Tinja
					</p>
					<p>
						Phone: +216 58 58 83 58
					</p>
					<p>
						Email: meher@foryoumer.com
					</p>
				</div>
				<div class="footer-social">
					<a class="round-icon-btn pink" href="https://www.facebook.com/foryoumer">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a class="round-icon-btn pink" href="https://www.instagram.com/foryoumer.co/">
						<i class="fab fa-instagram"></i>
					</a>
					{# 	<a class="round-icon-btn pink" href="">
																										<i class="fab fa-twitter"></i>
																									</a>
																									<a class="round-icon-btn pink" href="">
																										<i class="fab fa-pinterest-p"></i>
																									</a> #}
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-12 col-sm-4 text-sm-center text-md-left">
						<div class="footer-quicklink">
							<h5>Infomation</h5>
							<a href="{{ path('about')}}" rel="canonical">About us</a>
							<a href="{{ path('blog')}}" rel="canonical">Blog</a>
							<a href="{{ path('contact')}}" rel="canonical">Contact</a>
							<a href="{{ path('service')}}" rel="canonical">Service</a>
						</div>
					</div>
					<div class="col-12 col-sm-4 text-sm-center text-md-left">
						<div class="footer-quicklink">
							<h5>My Account</h5>
							<a href="{{ path('account')}}">My Account</a>
							<a href="{{ path('contact')}}">Contact</a>
							<a href="{{ path('cart_index')}}">Shopping cart</a>
							<a href="{{ path('products')}}">Shop</a>
						</div>
					</div>
					<div class="col-12 col-sm-4 text-sm-center text-md-left">
						<div class="footer-quicklink">
							<h5>Quick Shop</h5>
							<a href="{{ path('about')}}">About us</a>
							<a href="{{ path('blog')}}">Blog</a>
							<a href="{{ path('contact')}}">Contact</a>
							<a href="{{ path('service')}}">Service</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="newletter">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-12 col-md-7">
					<div class="newletter_text text-center text-md-left">
						<h5>Join Our Newsletter Now at foryoumer.com</h5>
						<p>Get E-mail updates about our latest shop and special offers at foryoumer.com.</p>
					</div>
				</div>
				<div class="col-12 col-md-5">
					<div class="newletter_input">
						<input class="round-input" type="text" placeholder="Enter your email">
						<button>
							Subcribe
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-credit">
		<div class="container">
			<div class="footer-creadit_block d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-baseline align-items-md-center">
				<p class="author">
					Copyright © 2023 Foryoumer - All Rights Reserved.
				</p>
				<img class="payment-method" src="assets/images/payment.png" alt="">
			</div>
		</div>
	</div>
</footer></div><script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" integrity="sha384-/Wx1NuqlgALfa1Do1U6Mer7quEDHOo8REf/0izoIrV8Y3Z/gtEHQc01STCEMM1LZ" crossorigin="anonymous"></script><script src="https://js.stripe.com/v3" async></script><script src="https://cdnjs.cloudflare.com/ajax/libs/imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script></body></body></html></div><!-- End footer--><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script><script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script><script src="{{ asset('assets/js/jquery.countdown.min.js') }}" defer></script><script src="{{ asset('assets/js/slick.min.js') }}" defer></script><script src="{{ asset('assets/js/jquery.scrollUp.min.js') }} " defer></script><script src="{{ asset('assets/js/jquery.zoom.min.js') }}" defer></script><script src="assets/js/vanilla-tilt.min.js"></script><script src="{{ asset('assets/js/main.js') }}" defer></script><script>var input = document.querySelector("#inputPhone");
window.intlTelInput(input, {
// allowDropdown: false,
// autoHideDialCode: false,
// autoPlaceholder: "off",
// dropdownContainer: document.body,
// excludeCountries: ["us"],
// formatOnDisplay: false,
// geoIpLookup: function(callback) {
// $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
//     var countryCode = (resp && resp.country) ? resp.country : "";
//     callback(countryCode);
// });
// },
// hiddenInput: "full_number",
// initialCountry: "auto",
// localizedCountries: { 'de': 'Deutschland' },
// nationalMode: false,
// onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
// placeholderNumberType: "MOBILE",
// preferredCountries: ['cn', 'jp'],
// separateDialCode: true,
utilsScript: "build/js/utils.js"
});</script></body>{% block script %}<script nonce="x0R+vBbFqaYdc4DEdUCJ8g==" src="{{ asset('assets/js/cart.js') }}"></script>{% endblock %}</html>
