
<div class="topimg">
    <img src="{{ asset('assets/images/homepage03/as7.webp') }}" id="mk" alt="" loading="lazy">
    <img src="{{ asset('assets/images/foryoumer.png') }}" id="logo" alt="ForYoumer">
</div>

<style>
.topimg {
    position: relative; /* Assure que le logo soit positionné correctement */
    display: inline-block;
}

#logo {
    position: absolute;
    left: 30px; /* Ajuste la position horizontale */
    top: 50%; /* Centre verticalement */
    transform: translateY(-50%); /* Ajuste pour un parfait centrage */
    width: 150px; /* Taille ajustée du logo */
}
</style>
<div class="header-block d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="header-left d-flex flex-column flex-md-row align-items-center">
					{# <div class="logo mx-4">
						<img src="assets/images/foryoumer.png" alt="foryoumer.com Tunisie" height="50px" width="auto">
					</div> #}
					<p class="d-flex align-items-center">
						<i class="fas fa-envelope"></i>
						contact@foryoumer.com
					</p>
					{# <p class="d-flex align-items-center">
						<i class="fas fa-phone"></i>
						+21658588358
					</p> #}
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="header-right d-flex flex-column flex-md-row justify-content-md-end justify-content-center align-items-center">
					<div class="social-link d-flex me-3">
						<a href="{{ path('cart_index') }}">
							<img src="{{ asset('assets/images/panier.png') }}" height="30px" alt="vente en ligne en Tunisie foryoumer">
							{% set cart_quantity = app.session.get('uniqueProductsCount') %}
							{% if cart_quantity is not empty and cart_quantity != 0 %}
								<span class="cart-quantity">{{ cart_quantity }}</span>
							{% endif %}
						</a>
					</div>
					{% if app.user %}
						<div class="login d-flex me-3">
							<a href="{{ path('account') }}">
								<i class="fas fa-user ">
									&nbsp;&nbsp;
									{{ app.user.firstname }}
								</i>
								Account
							</a>
						</div>
						<div class="login d-flex">
							<a href="{{ path('app_logout') }}">
								<i class="fas fa-user"></i>
								Logout
							</a>
						</div>
					{% else %}
						<div class="login d-flex me-3">
							<a href="{{ path('app_login') }}">
								<i class="fas fa-user"></i>
								Login
							</a>
						</div>
						<div class="login d-flex">
							<a href="{{ path('register') }}">
								<i class="fas fa-user"></i>
								Register
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
