{% extends 'base.html.twig' %}

{% block title %}Valider Mes commande{% endblock %}

{% block content %}
    <h2>Mon Recap </h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            Mon adresse de livraison <br/>
            Mon Transporteur
        </div>
        <div class="col-md-6">
            <div class="text-center"> <b>Mes Commandes</b><br/></div>


            <div class="order-summary">
                {% set total=null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2 my-auto"><img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" class="img-fluid"></div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br/>
                            <small>{{ product.product.subtitle }}
                            <br/>
                        x {{ product.quantity }}</small>
                        </div>
                        <div class="col-2 my-auto">
                            {{ ((product.product.price*product.quantity)/100)|number_format(2) }} $
                        </div>
                    </div>
                {% set total=total+(product.product.price*product.quantity) %}
                {% endfor %}
            </div>

            <hr>
            <strong>sous-Total: </strong>{{ (total/100)|number_format(2,',','.') }} $
            <strong>Livraison: </strong>




            <a href="" class="btn btn-success btn-block">Payer</a>
            {{ cart |length }}
        </div>
    </div>

{% endblock %}
