{% extends 'base.html.twig' %}
{% block seo %}
	{{ parent() }}
{% endblock %}
{% block title %}Valider mes commandes
{% endblock %}

{% block content %}
	<div class="container">
		<div class="ogami-breadcrumb">
			<div class="container">
				<ul>
					<li><a class="breadcrumb-link"href="{{ path('home') }}"><i class="fas fa-home"></i>Home</a></li>
					<li><a class="breadcrumb-link"href="{{ path('cart_index') }}">Shopping Cart</a></li>
					<li><a class="breadcrumb-link active" href="#">Check Out</a></li>
				</ul>
			</div>
		</div>
		<div class="order-step">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="order-step_block">
							<div class="row no-gutters">
								<div class="col-12 col-md-4">
									<div class="step-block step-block--1">
										<div class="step">
											<h2>Shopping Cart</h2>
											<span>01</span>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="step-block active">
										<div class="step">
											<h2>Check Out</h2>
											<span>02</span>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="step-block">
										<div class="step">
											<h2>Order Completed</h2>
											<span>03</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End order step-->
		<hr>
		<div class="row ">
			<div class="col-md-6 ">
				{% set formHtml %}
				{{ form_start(form, {'action': path('order_recap'), 'method': 'POST'}) }}
				{{ form_label(form.addresses, 'Choisissez votre adresse de livraison', {'label_attr': {'class': 'form-label'}}) }}
				<a href="{{ path('account_address_add') }}">Ajouter une nouvelle adresse</a>
				{{ form_widget(form) }}
				<button class="normal-btn submit-btn" type="submit">Valider ma commande</button>
				{{ form_end(form) }}
				{% endset %}
				{{ formHtml|replace({'[br]': '<br/>'})|raw }}

			</div>
			<div class="col-md-6">
				<div class="text-center form-label">
					<b>Récap de ma commande</b><br/>
				</div>
				<div class="order-summary">
					{% for key, product in cart %}
						<div class="row{% if key > 0 %} mt-2{% endif %}">
							<div class="col-2 my-auto">
								<img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" class="img-fluid">
							</div>
							<div class="col-8 my-auto">
								{{ product.product.name }}<br/>
								<small>{{ product.product.subtitle }}</small><br/>
								{% if item.quantity.size is defined and item.quantity.size is not empty %}
    Taille : {{ item.quantity.size }}<br/>
{% endif %}

							</div>
							<div class="col-2">
								{% if product.quantity is iterable %}
									{% if product.quantity.quantity is defined %}
										x
										{{ product.quantity.quantity }}
									{% endif %}
								{% else %}
									x
									{{ product.quantity }}
								{% endif %}
							</div>

						</div>
					{% endfor %}
				</div>
			</div>


		</div>
	</div>

	<style>
		label.form-label {
			font-family: "Cera Pro Regular";
			font-size: 16px;
			color: #636363;
			line-height: 24px;
			display: block;
		}
		legend.col-form-label.required {
			font-family: "Cera Pro Bold";
			font-size: 16px;
			color: #636363;
			line-height: 1;
		}
		.form-label b {
			font-family: "Cera Pro Bold";
			font-size: 16px;
			color: #636363;
			line-height: 1;
		}
	</style>

{% endblock %}
